html {
  background: url("https://assets.codepen.io/6060109/lyric-bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

body {
  background: url("https://assets.codepen.io/6060109/music.png") no-repeat bottom left;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-family: Montserrat;
}

pre {
  font-family: Montserrat;
  height: 95%;
  overflow: scroll;
}

h1 {
  font-size: 48px;
  margin: 10px 0;
}
h4 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  opacity: 0.66;
}

.inner-container {
  height:75%;
  width: 90%;
  margin: auto;
  display: flex;
}
.video-container {
  width: 50%;
}
.inner-video {
  box-shadow: 10px 10px 50px rgba(0, 255, 255, 0.35);
  height: 300px;
  margin-top: 50px;
  width: 90%;
}

/* [1]
  Add 
  Full height
  Half width
  A small white border
  Padding
*/
.lyrics-container {
  background: rgba(0,0,0,.5);
  border-radius: 5px;
  line-height: 35px;
  border: 2px solid white;
  height: 100%;
  width: 50%;
  
}